# Segmentation and clustering in neighborhoods of Toronto
## Latitudes and longitudes for the neighborhood

In [1]:
import pandas as pd

Reading the postal codes csv file and the geo_coordinates csv file

In [2]:
df=pd.read_csv('Postal_codes_Canada.csv')

In [3]:
geo=pd.read_csv('Geospatial_Coordinates.csv')

In [4]:
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [5]:
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:
geo.shape

(103, 3)

Renaming the column so that the Postal codes in both the dataframes column match

In [7]:
df.rename(columns={"Postal code":"Postal Code"},inplace=True)
df.head()

  Postal Code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

Merging the neighborhood dataframe and the geo_coordinates dataframe and created a new dataframe

In [8]:
new_df=pd.merge(df,geo,on='Postal Code',how='outer')

In [9]:
new_df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494

Checking if all the postal codes are matched, if any row has NA value.

In [10]:
df.isna().sum()

Postal Code     0
Borough         0
Neighborhood    0
dtype: int64

Moving the merged dataframe to another csv file for further analysis

In [11]:
new_df.to_csv(r'Toronto_lat_long.csv',index=False)